[submodule "PFXToolKitUI"]
	path = PFXToolKitUI
	url = https://github.com/AngryCarrot789/PFXToolKitUI
[submodule "AvaloniaHex"]
	path = AvaloniaHex
	url = https://github.com/AngryCarrot789/AvaloniaHex
[submodule "Lua-CSharp"]
	path = Lua-CSharp
	url = https://github.com/AngryCarrot789/Lua-CSharp
